// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

// Enabling shadows and gradients
//$enable-shadows: true;
//$enable-gradients: true;

// Changing the body background and text
//$body-bg: #d3e9eb;
//$body-color: #151417;

// Changing the border radius of buttons
//$border-radius: 15px;

// Changing the theme colors
//$primary: #202f41;
//$secondary: #436296;
//$success: #2bc550;
//$info: #495dff;
//$warning: #ef8143;
//$danger: #ff293a;
//$light: #dfe6ee;
//$dark: #0f1319;


// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
//$theme-colors: (
//  "cool": #4d3fa3
//);

// NEW COLORS THEME
$primary: #CE5766;
$secondary: #463344;
$success: #E5A790;
$info: #7A5E5F;
$light: #E4C297;

// Radius and Padding
$line-height-base: 1.5;
$line-height-lg:  1;
$line-height-sm:  1;

$border-radius:         2px;
$input-btn-padding-y:   .25rem;
$input-btn-padding-x:   .5rem;

$input-btn-padding-y-sm:      .25rem;
$input-btn-padding-x-sm:      .5rem;
$input-btn-line-height-sm:    $line-height-sm;

$input-btn-padding-y-lg:      .25rem;
$input-btn-padding-x-lg:      .5rem;
$input-btn-line-height-lg:    $line-height-lg;

$alert-padding-y:             .25rem;
$alert-padding-x:             .75rem;

// Enabling shadows and gradients
$enable-shadows: true;

// FUENTES
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
$font-size-base: .875rem;
$font-family-base: "Raleway", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$display5-size: 2.5rem;
$display6-size: 1.5rem;
