// Add additional styles here. For example, overwrite certain styles or add new components.
// Tip: You can use bootstrap's powerful mixins here!


//.alert-myalert {
//  @include alert-variant(#60667d, #1d1d1d, #f4fdff);
//}

//@each $color, $value in $theme-colors {
//  .alert-#{$color} {
//    box-shadow: 3px 3px theme-color-level($color, -3);
//  }
//}
body{
    background-color: transparent;
}

.jumbotron-fluid {
    background: transparent;
}

.card {
    -webkit-transition: -webkit-box-shadow .25s;
            transition: -webkit-box-shadow .25s;
            transition: box-shadow .25s;
            transition: box-shadow .25s, -webkit-box-shadow .25s;
}
.card {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4),0 1px 5px 0 rgba(0,0,0,0.2),0 3px 1px -2px rgba(0,0,0,0.2);
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4),0 1px 5px 0 rgba(0,0,0,0.2),0 3px 1px -2px rgba(0,0,0,0.2);
}

.display-5{
    font-size: $display5-size;
    font-weight: 300;
    line-height: $line-height-sm;
}

.display-6{
    font-size: $display6-size;
    font-weight: 300;
    line-height: $line-height-sm;
}

.home-bg{
    background: url(../001.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-full{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.home-full footer{
    flex: 1;
}

.dash-bg{
    background: url(../002.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.dash-bg main{
    flex: 1;
}

.event-bg {
    background: url(../004.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.event-bg main {
    flex: 1;
}

.account-bg {
    background: url(../004.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.account-bg main {
    flex: 1;
}

.account-bg main {
    & .col>img#profile:hover {
        opacity: 0.3;
        
        + .ch-img {
            opacity: 1;
            font-size: 50px;
        }
    }
    
    img#profile {
        cursor: pointer;
        opacity: 1;
        transition: .2s ease;
    }
    
    
    & .ch-img {
        opacity: 0;
        position: absolute;
        top: 27%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    
    
}